/programacion_estructurada/estructuras_condicionales/Bisiesto/nbproject/private/
/programacion_estructurada/estructuras_condicionales/Bisiesto/build/
/programacion_estructurada/estructuras_condicionales/MayorDeTresNumeros/nbproject/private/
/programacion_estructurada/estructuras_condicionales/MayorDeTresNumeros/build/
/programacion_estructurada/estructuras_condicionales/ClasificacionEdad/nbproject/private/
/programacion_estructurada/estructuras_condicionales/ClasificacionEdad/build/
/programacion_estructurada/estructuras_condicionales/CalculadoraDescuento/nbproject/private/
/programacion_estructurada/estructuras_condicionales/CalculadoraDescuento/build/
/programacion_estructurada/estructuras_repeticion/SumaNumerosPares/nbproject/private/
/programacion_estructurada/estructuras_repeticion/SumaNumerosPares/build/
